button{
    background-color: #09A1FC;
    border: 1px solid #09A1FC;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    transition: all 0.3s;
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transform: scale(1.02);
    }
}

@media (max-width: 800px) {
    button{
        font-size: 10px;
        padding: 8px 16px;
        margin-left: auto;
    }
    
}