.container-infos-carro {
    display: flex;
    margin: auto;
    width: 80%;
    height: auto;
    min-height: 80vh;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

th,
td {
    border: var(--azul-porto) 2px solid;
    padding: 10px;
    text-align: start;
    overflow: hidden;
}

th {
    background-color: var(--azul-porto);
    color: white;
}

.btn-delete {
    background-color: red;
    border: red 2px solid;
}

.btn-adiciona,
.btn-delete,
.btn-update {
    display: flex;
    justify-content: center;
}

.infos-carro-input {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1%;

    input {
        height: 50px;
        width: 20%;
    }

    button {
        height: 50px;
        margin: 7px;
    }
}

.container-dados {
    border: var(--azul-porto) 2px solid;
    padding: 50px;
    margin: 2%;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 50%;
    margin-top: 2%;
}
.infos{
    width: 300px;
    height: 45px;
}

@media (max-width: 768px) {
    .infos-carro-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        gap: 1%;

        input {
            height: 50px;
            width: 55%;
        }
        button {
            font-size: 0.8rem;
            width: 55%;
            font-size: 15px;
            margin: 7px;
        }
    }
    .btn-adiciona{
        font-size: 0.8rem;
        width: 92%;
        font-size: 15px;
        margin: 7px;
    }
    .infos{
        width: 150px;
    }
    .container-infos-carro{
        min-height: 110vh;
    }
}